@font-face {
    font-family: 'FoundersGrotesk-Semibold';
    src: url('./src/assets/FoundersGrotesk-Semibold.otf') format('opentype');
    /* You may need to adjust the path to match your folder structure */
    font-weight: bold;
    font-style: normal;
  }
  